h1
{
  text-align: center;
  color:white;
}
main
{
    margin-left:20px;
margin-right:20px;
}
table.center
{
  margin-left: auto;
  margin-right: auto;
}
th,td
{
  font-size: 15px;
  text-align: center;
}
mark
{
  background-color: mediumpurple;
}
table, td
{
  border: 1px solid;
}
table.center
{
  margin-left: auto;
  margin-right: auto;
}
.header
{
  top: 0;
  left: 0;
  width: 110%;
  padding: 50px 110px;
  background:orange;
  justify-content: space-between;
  align-items: center;
}

.logo
{
  font-size: 50px;
  color: brown;
  text-decoration: none;
  font-weight: 700;
  font-style: oblique;
}
body
{
  margin: 0px ;
  min-height: 100vh;
  background-color:bisque;(240, 132, 0):(233, 101, 53);(202, 131, 0);
}
.navbar a
{
  position: relative;
  font-size: 20px;
  color:brown;
  font-weight: 300;
  text-decoration: none;
  margin-left: 40px;
}
.navbar a::before
{
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: brown;
  transition: .3s;
}
.navbar a:hover::before
{
  width: 100px;

}